{% extends 'webapp/base.html'%}

{% load crispy_forms_tags %}

{% block content %}
    <body>
        <div class="container bg-light shadow-md p-5 form-layout">
            <h3>Create record</h3>
            <h6>Key in the required details for your records</h6>

            
            <hr>
            <br>

            <form method="POST" autocomplete="off">
                {%csrf_token%}

                {{form.first_name|as_crispy_field}}

                <br>

                {{form.last_name|as_crispy_field}}

                <br>
                {{form.email|as_crispy_field}}

                <br>
                {{form.phone|as_crispy_field}}
                <br>
                {{form.address|as_crispy_field}}

                <br>

                {{form.city|as_crispy_field}}

                <br>
                {{form.county|as_crispy_field}}
                <br>

                

                <button type="submit" class="btn btn-primary">Create record <i class="fa fa-check" aria-hidden="true"></i>
                </button>
                
                <a href="{% url 'dashboard' %}" class="btn btn-secondary">return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </a>
            </form>
        </div>
        <br>
    </body>

{% endblock content %}