{% extends 'webapp/base.html'%}

{% load crispy_forms_tags %}

{% block content %}
    <body>
        <div class="container bg-light shadow-md p-5 form-layout">
            <h3>Create record</h3>
            <h6>Key in the required details for your records</h6>

            
            <hr>
            <br>

            <form method="POST" autocomplete="off">
                {%csrf_token%}

                {{form|crispy}}

                <br>

                <button type="submit" class="btn btn-primary w-100 btn-block p-3">Create record</button>
            </form>
        </div>
    </body>

{% endblock content %}