 {% extends 'webapp/base.html'%}

 {% block content %}

    <div class="card">
        <strong>
            <br>
            &nbsp; &nbsp;
            {{record.last_name | upper}}
            {{record.first_name}}
        </strong>
        <hr>
        <div class="card-body">
            <p> <strong> ID: </strong> {{record.id}}</p>
            <p> <strong> Email: </strong> {{record.email}}</p>
            <p> <strong> Phone number: </strong> {{record.phone}}</p>
            <p> <strong> Address: </strong> {{record.address}}</p>
            <p> <strong> City: </strong> {{record.city}}</p>
            <p> <strong> County: </strong> {{record.county}}</p>
            <p> <strong> Date created: </strong> {{record.date_created}}</p>
         
            


            
        </div>




    </div>

    <br>

    <a href="{% url 'dashboard'%}" class="btn btn-secondary">Return</a>

    &nbsp;

    <a href="{% url 'update-record' record.id%} " class="btn btn-info">Update record</a>

    &nbsp;

    <a href="{% url 'delete-record' record.id%}" class="btn btn-danger">Delete</a>


 {% endblock content %}